<h1><%= t('articles.edit') %></h1>

<%= form_for :article, url: article_path(@article), method: :put do |f| %>
	<!-- Analog - peremennaya v rails  	url: articles_path -->

	<p>
		<%= f.label :title %><br />
		<%= f.text_field :title %>
	</p>

	<p>
		<%= f.label 'Article text' %><br />
		<%= f.text_area :atext %>
	</p>

	<p>
		<%= f.submit %><br />
	</p>

<% end %>