<div class="container-fluid pl-5 pr-5">
	<h1><i><%= t('articles.edit') %></i></h1>
	<hr/>
	<br/>

	<%= form_for :article, url: article_path(@article), method: :put do |f| %>
		<p>
			<%= f.label :title %><br />
			<%= f.text_field :title , style:"width:700px"%>
		</p>

		<p>
			<%= f.label 'Article text' %><br />
			<%= f.text_area :atext , class:"rounded", style:"width:700px", rows: "5"%>
		</p>

		<p>
			<%= f.submit %><br />
		</p>

	<% end %>
</div>