<div class="container-fluid pl-5 pr-5">
  <h1><i><%= t('articles.list') %></i></h1>
  <hr/>
  <br/>

  <div class="container-fluid pl-5 pr-7">
    <% @articles.each do |article| %>
      <div class="row">
        <h3><%= article.title %></h3><sup>added <%= article.created_at%></sup>
          </div>
      <div class="row" style="margin-bottom: -5px">
        <p style="margin-bottom: -2px"><%= article.atext %></p>
          </div>

      <p style="margin-bottom: -7px">
      <small>
        <%= link_to 'Show with comments', article_path(article) %> | 
        <%= link_to 'Edit', edit_article_path(article) %> | 
        <%= link_to 'Delete', article_path(article), method: :delete, data: { confirm: 'Are you sure?'} %>
        <!-- <hr/> -->
      </p>
      </small>
      <hr/>

    <% end %>
  </div>
</div>

