<div class="container-fluid pl-5 pr-5">
	<h1><i><%= t('articles.new') %></i></h1>
	<hr/>
	<br/>

	<%= form_for :article, url: '/articles' do |f| %>
		<!-- Analog - peremennaya v rails  	url: articles_path -->
		<% if @article && @article.errors.any? %>
			<p>
				<ul>
				<% @article.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
				</ul>
			</p>
		<% end %>

		<p>
			<%= f.label :title %><br/>
			<%= f.text_field :title, style:"width:700px" %>
		</p>

		<p>
			<%= f.label 'Article text' %><br/>
			<%= f.text_area :atext, class:"rounded", style:"width:700px"%>
		</p>

		<p>
			<%= f.submit %><br/>
		</p>

	<% end %>
</div>
