<div class="container-fluid pl-5 pr-5">
	<h1><i><%= t('contacts.contact_us') %></i></h1>
	<p><sup><i><%= t('contacts.contact_msg')%></i></sup></p>
	<hr/>
	<br/>

	<%= form_for :contact, url: contacts_path do |f| %>
		<% if @contact && @contact.errors.any? %>
			<p>
				<ul>
				<% @contact.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
				</ul>
			</p>
		<% end %>

		<p>
			<%= f.label :email %><br />
			<%= f.text_field :email, style:"width:700px" %>
		</p>

		<p>
			<%= f.label :message %><br />
			<%= f.text_area :message, class:"rounded", style:"width:700px" %>
		</p>

		<p>
			<%= f.submit 'Send message' %><br />
		</p>

	<% end %>
</div>